*{
    margin: 0;
    padding: 0;
}
body {
    max-width: 1920px;
    margin: 0 auto;
    font-size:26px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(117,117,117,1);
}
h1 {
    display: none;
}
.banner-bg {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 44%;
    background: url(https://oss.stepcounter.cn/html/img/banner.png);
    background-size: cover;
    
}
.scan-area{
    position: absolute;
    text-align: center;
    top: 51.4%;
    left: 19.583%;
}
.qr-code {
    width: 200px;
    height: 200px;
    background: url(https://oss.stepcounter.cn/h5/img/qr-code.png);
    background-size: cover;
    display: block;
    margin-bottom: 17px;
    
}

.scan-note {
    font-size:36px;
    letter-spacing:2px;
    color:rgba(74,74,74,1);
    display: block;
}
.main {
    position: relative;
    overflow: hidden;
}
.speciality {
    list-style: none;
    overflow: hidden;
    max-width: 1116px;
    /* text-align: center; */
    margin: 0 auto;
    padding: 140px 0;
}
.items {
    /* float: left; */
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    margin-right: 20%;
}
.last {
    margin-right: 0 !important;
}
.item-icon {
    width: 193px;
    height: 193px;
    display: block;
    margin: 0 auto;
    margin-bottom: 53px;
}
.item-title {
    display: block;
    font-size:36px;
    color:rgba(74,74,74,1);
    margin-bottom: 25px;
}
.item-txt {
    display: block;
    line-height: 1.9;
}
.about-part {
    background: #F7F7F7;
    letter-spacing: 1px;
    padding: 79px 30px;
}
.about-part h4 {
    margin-bottom: 40px;
    font-size:36px;
    font-weight:500;
    text-align: center;
    color:rgba(74,74,74,1);
}
.about-part p {
    margin: 0 auto;
    font-size: 25px;
    font-weight: 300;
    max-width: 1163px;
    line-height: 1.9;
    letter-spacing: 1px;
}
footer {
    letter-spacing: 1px;
    background: #4A4A4A;
    color: #fff;
    text-align: center;
    line-height:1.9;
    padding: 54px 0;
    font-weight: 300;
}
@media (max-width:1400px) {
    .qr-code {

        width: 150px;
        height: 150px;
    }
    .speciality {
        max-width: 1000px;
    }
    .item-icon {
        width: 170px;
        height: 170px;
    }
    .items {
        margin-right: 16%;
    }
   
}
@media (max-width:1200px) {
    .speciality {
        max-width: 900px;
    }
    body,
    .about-part p {
        font-size:23px;
    }
    .scan-note,
    .item-title,
    .about-part h4 {
        font-size:30px;
    }
}
@media (max-width:1024px) {
    .qr-code {
        width: 120px;
        height: 120px;
    }
    .item-icon {
        width: 140px;
        height: 140px;
    }
    .speciality {
        max-width: 800px; 
        padding: 100px 0;
    }
    .items {
        margin-right: 13%;
    }
}